<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" href="404.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0", user-scalable="no">
    <link rel="icon" href="holas 404.svg">
</head>
<body>
    <div class="contenedor">
    <img src="holas 404.svg" id="holas404image" alt="Holas Image">
    <h1 id="title">ERROR 404</h1>
    <p id="description">Página no encontrada</p>
    </div>
    <div id="piedepagina">
    <%-include ("partials/pie")%>
    </div>
</body>     
</html>