<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0", user-scalable="no">
    <title>Creditos</title>
    <link rel="icon" href="HolasIcon.svg">
    <link rel="stylesheet" href="creditos.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,500&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
</head>
<body>
    <div id="divisor">
        <h1>Agradecimientos</h1>

        <div class="tarjeta">
        <img src="CheesusChrist_Avatar.png" alt="CheesusChrist_Avatar">
        <div class="titulosnombres" id="Cheesus">
        <a href="https://github.com/DaHolyCheese">Cheesus Christ</a>
        </div>
        <p id="descripcion">Desarrollador principal y propietario del repositorio en Github</p>
        </div>

        <div class="tarjeta">
        <img src="adrian26o_Avatar.png" alt="adrian26o_Avatar">
        <div class="titulosnombres" id="Adrian">
        <a href="https://github.com/adrian26o">adrian26o</a>
        </div>
        <p id="descripcion">Creador del bot original y diseñador de la página.</p>
        </div>

        <div class="tarjeta" id="volveralmain">
            <a href="/">Volver a la página principal</a>
        </div>
    </div>
    <%-include ("partials/pie")%>
</body>
</html>