<!DOCTYPE html>
<html>
<head>
    <%-include ("partials/embed")%>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Holas - Dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='main.css'>
    <link rel="icon" href="HolasIcon.svg">

    <!--Conectar para las fuentes-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Duru+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet"> 

</head>
<body>
        <header id="cabecera">
        <img src="HolasIcon.svg" alt="HolasIcon" id="titleicon">
        <h1>Holas Bot</h1>
        <nav>
        <ul>
            <li>
                <a href="https://discord.com/api/oauth2/authorize?client_id=796797535208341544&permissions=8&scope=bot">
                        <!-- <img src="agregar1.svg"> -->
                        <h3>Invitar</h3>
                </a>
            </li>
            <li>
                <a href="/docs">
                <!-- <img src="docs.svg"> -->
                <h3>Comandos</h3>
                </a>
            </li>
            <li>
                <a href="https://github.com/DaHolyCheese/holas-bot">
                    <!-- <img src="github.svg"> -->
                    <h3>Github</h3>         
                </a>
            </li>
        </ul>
    </nav>
    </header>





    <div id="presentacion">
        <ul>
            <img src="HolasIcon.svg" alt="HolasIcon">
            <div>
            <li> <h1>¡HOLA!</h1> <br> </li>
            <li> <h3>¡Invitame a tu servidor!</h3> </li>
            <a href="https://discord.com/api/oauth2/authorize?client_id=796797535208341544&permissions=8&scope=bot">
            </div>
            <div>
            <li><h2>Invitar</h2></li>
            </div>
            </a>
        </ul>
    </div>




    <div id="info">
        <div id="black">
        <h1 style="padding-bottom:3%; font-family: Montserrat, sans-serif;">Propiedades</h1>
        <div class="infobox">
        <h2>Moderación</h2> <br>
        <p>Modera tus servidores.</p>
        <img src="/Index4.png">
        </div>
        <div class="infobox">
            <h2>Entretenimiento</h2> <br>
            <p>Entretente con comandos.</p>
            <img src="/Index2.png">
        </div>
        <div class="infobox">
            <h2>Información</h2> <br>
            <p>Informate de tu servidor.</p>
            <img src="/Index3.png">
        </div>
        <h3 style=" font-family: Montserrat, sans-serif;font-size: x-large;">
            ¡Y mucho más que viene a futuro!...
        </h3>
        <footer style="padding-top: 3%;padding-bottom: 1%;"><%-include ("partials/pie")%></footer>
        </div>
    </div>
</body>
</html>